@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

.hero{
	background: url('/listCrud/resources/image/photo.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
h1{
	color:white;
}